#s6 {
    top: 70%;
    left: 2%;
}

#continue-game {
    top: 79%;
    left: 23%;
}

#s6, #continue-game {
    font-weight: 100;
    position: absolute;
    font-size: 30px;
    color: rgb(163, 142, 20);
    text-decoration: none;
}

#s6:hover:before, #continue-game:hover:before {
    content: ""
}