#s5 {
    top: 10%;
    left: 4.1%;
}

#continue-game {
    top: 79%;
    left: 23%;
}

#s5, #continue-game {
    font-weight: 100;
    position: absolute;
    font-size: 30px;
    color: rgb(32, 163, 20);
    text-decoration: none;
}

#s5:hover:before, #continue-game:hover:before {
    content: ">> "
}